@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 22px;
}
body{
  background-color: #353535;
}


@media only screen and (max-width: 600px) {
  html{
    font-size: 20px;
  }
}